.axis-text {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    fill: #839496;
    text-anchor: middle;
}

.histo-bars {
    fill: #580505;
    stroke: black;
    stroke-width: .5;
}

.mapBorder {
    position: relative;
    height: 500px;
    border: 1px solid black;
}

.scatterBorder {
    position: relative;
    height: 400px;
    width: 500px;
}

.histogramBorder {
    position: relative;
    height: 400px;
    width: 500px;
}

.title-text {
    color: #839496;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px black;
}

.para-text {
    color: #839496;
    font-family: sans-serif;
    font-size: 14px;
}

.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
}

.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
}

.legend2 {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    border-radius: 5px;
    line-height: 24px;
    color: #555;
}

.legend2 h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend2 span {
    position: relative;
    bottom: 3px;
    text-align: center
}

.legend2 i {
    float: left;
    margin: 0 8px 0 0;
    border-radius: 50%;
    opacity: 0.7;
    background: #800026;
    text-align: center;
    color: white;
    text-size-adjust: 15px;
}

.tooltip {
    position: absolute;
    width: 90px;
    height: 85px;
    padding: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #839496;
    background: black;
    border: 0;
    border-radius: 10px;
}

html,
body {
    padding: 0;
    margin: 0;
}

.bar {
    fill: #580505;
}

.bar:hover {
    fill: orange;
}

text.divergence {
    font-size: 14px;
    fill: #839496;
}

text.value {
    font-size: 14px;
    color: #839496
}

text.title {
    font-size: 22px;
    font-weight: 600;
}

text.label {
    font-size: 14px;
    font-weight: 400;
    color: #839496
}

text.source {
    font-size: 10px;
    color: #839496
}

line {
    stroke: gray;
}

line#limit {
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

.reset {
    width: 50px;
}